---
layout: default
title: Marcelo Mora's blog
---
<!DOCTYPE html>
	<html>
		<head>
			<title>Welcome to my page</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/links">links</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:marceloandres.mora@gmail.com">email</a></li>
	        		<li><a href="https://github.com/mamora">github</a></li>
				</ul>
			</footer>
		</body>
	</html>